:root{
    --primary: hsl(199, 100%, 10%);
    --primary-two: hsl(199, 97%, 13%);
    --secondary: hsl(151, 100%, 50%);
    --secondary-two: hsla(164, 100%, 50%, 0.492);
    --complemento: hsl(247, 72%, 48%);
    --white: hsl(0, 0%, 100%);
    --gris: hsl(0, 0%, 89%);
    --gris-two: hsl(0, 0%, 35%);
}