@use '../globales' as *;

.header{
    background-color: var(--primary);
    height: 10rem;
    top: 0;
    position: sticky;
    display: flex;
    z-index: 100;

    &__nav{
        display: flex;
        justify-content: space-between;
        height: 10rem;
        z-index: 1;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 50px;
    }
    &__menu{
        display: flex;
        align-items: center;
        list-style: none;
        text-align: center;
    }
    &__item{
        height: 3.25rem;
        
    }
    &__links{
        color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        height: 100%;
        font-size: 1.7rem;
        padding: 0 15px;
        &:hover{
            color: var(--secondary);
            transition: all 0.3s ease;
        }
    }
    &__social{
        display: flex;
        flex-direction: row;
        .header__social--icon{
            font-size: 2rem;
            color: var(--secondary);
            margin: 15px;
            &:hover{
                color: #fff;
            }
        }
    }
    &__logo{
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    &__logo-a{
        text-decoration: none;
        font-size: 2.5rem;
        color: var(--white);
        font-weight: 700;
        font-style: italic;
        
    }
}
@media (max-width: 968px){
    .header{
        &__nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 10rem;
            z-index: 1;
            width: 100%;
            max-width: 1200px;
            padding: 0;
        }
        &__menu{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0;
            width: 60%;
            position: absolute;
            right: 100%;
            top: 10rem;
            height: 100vh;
            opacity: 1;
            transition: all 0.7s ease;
            z-index: 90;
            &.active{
                background-color: var(--primary);
                right: 40%;
                opacity: 1;
                transition: all 0.7s ease;
                z-index: 90;
                height: 100vh;
                font-size: 1.6rem;
            }
        }
        &__logo{
            margin-left: 35px;
            z-index: 100;
            
        }
        &__item{
            width: 100%;
            margin-top: 1.5rem;
        }
        &__links{
            text-align: center;
            width: 100%;
            color: #fff;
            transition: all 0.5s ease;
            cursor: pointer;
            
        }
        &__social{
            display: flex;
            flex-direction: row;
            .header__social--icon{
                font-size: 2rem;
                color: var(--secondary);
                margin: 15px;
                &:hover{
                    color: var(--white);
                }
            }
        }
        
        &__toggle{
            .line{
                width: 25px;
                height: 3px;
                margin: 4px auto;
                transition: all 0.3s;
                background-color: var(--secondary);
            }
        }
        #mobile-menu{
            position: absolute;
            top: 30%;
            right: 10%;
            transform: translate(-6%, 20%);
        }
        &__toggle{
            .line{
                display: block;
                
            }
        }
        #mobile-menu.is-active{
            .line:nth-child(2){
                transform: translateX(-20px);
                opacity: 0;
            }
        }
        #mobile-menu.is-active{
            .line:nth-child(1){
                transform: translatey(7px) rotate(45deg);
            }
        }
        #mobile-menu.is-active{
            .line:nth-child(3){
                transform: translateY(-7px) rotate(-45deg);
            }
        }
    }
}